<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/main.js"></script>
</head>

<body>
    <div id="root">
        <header>
            <div class="wrp container">
                <search-input v-model="searchValue"></search-input>
                <button class="btn-cart" type="button" @click="clickOnBasket">Корзина</button>
            </div>
        </header>
        <main class="main container">
            <basket v-if="isVisibleCart"></basket>
            <div class="products container">
                <product v-for="item in filteredItems" :item="item"></product>
            </div>
        </main>
    </div>
</body>

</html>