body {
    margin: 0 auto;
    background-color: #d6d6d6;
    color: #F2F2F2;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-color: #3D3E40;
    min-height: 50px;  
}

.wrp {
    display: flex;
    justify-content: right;
}

.btn-cart {
    margin-top: 10px;
    min-width: 130px;
    min-height: 30px;
    border: none;
    background-color: #d6d6d6;
}

.products {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-width: 150px;
    min-height: 200px;
    background-color: #93B3BF;
    color: #F2F2F2;
}

.product-item__img {
    max-width: 90px;
    max-height: 90px;
}

.buy-btn {
    min-width: 130px;
    min-height: 50px;
    border: none;
    background-color: #7794A6;
    color: #F2F2F2;
    text-transform: uppercase;
}

/* Color Theme Swatches in Hex */
.MeltOne-Advisory-1-hex { color: #3D3E40; }
.MeltOne-Advisory-2-hex { color: #7794A6; }
.MeltOne-Advisory-3-hex { color: #93B3BF; }
.MeltOne-Advisory-4-hex { color: #F2BC8D; }
.MeltOne-Advisory-5-hex { color: #F2F2F2; }

/* Color Theme Swatches in RGBA */
.MeltOne-Advisory-1-rgba { color: rgba(61, 62, 63, 1); }
.MeltOne-Advisory-2-rgba { color: rgba(119, 147, 165, 1); }
.MeltOne-Advisory-3-rgba { color: rgba(147, 178, 191, 1); }
.MeltOne-Advisory-4-rgba { color: rgba(242, 187, 140, 1); }
.MeltOne-Advisory-5-rgba { color: rgba(242, 242, 242, 1); }

/* Color Theme Swatches in HSLA */
.MeltOne-Advisory-1-hsla { color: hsla(213, 2, 24, 1); }
.MeltOne-Advisory-2-hsla { color: hsla(202, 20, 55, 1); }
.MeltOne-Advisory-3-hsla { color: hsla(196, 25, 66, 1); }
.MeltOne-Advisory-4-hsla { color: hsla(28, 79, 75, 1); }
.MeltOne-Advisory-5-hsla { color: hsla(0, 0, 95, 1); }